/* Carousel.css */

.carousel {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px; /* Ajusta el tamaño del texto de la flecha */
    z-index: 100;
}

.carousel-button.prev {
    left: 20px;
}

.carousel-button.next {
    right: 20px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.view-more-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    color: white;
    padding: 20px 40px; /* Hacer el botón más grande */
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px; /* Hacer el texto más grande */
    z-index: 100;
    text-decoration: none; /* Quitar el subrayado */
    text-align: center;
}

.view-more-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
