.footer {
    background-color: #4B1E20; /* Color marrón oscuro */
    color: #FFFFFF; /* Color de texto */
    padding: 2rem 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .download-apps,
.footer .social-media {
    display: flex;
    align-items: center;
}

.footer .download-apps img,
.footer .social-media img {
    margin-right: 1rem;
    height: 40px;
}

.footer .download-apps img:last-child,
.footer .social-media img:last-child {
    margin-right: 0;
}

.footer .terms {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.875rem;
}

.footer .terms a p {
    color: #FFFFFF; /* Color rojo oscuro */
    text-decoration: none;
}

.footer .terms a:hover {
    text-decoration: underline;
}
